a{
  float: left;
  text-decoration: none;
  padding: 20px;

  color: #000;
  &:hover{
    color: darkslategray;
    border-bottom: 1px solid cornflowerblue;
  }
}

.search{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

table, th, td{
  border-bottom: 1px solid black;
  text-align: center;
}
th{
  border-top: 1px solid black;
}

.b {
  border-collapse: collapse;
}

table{
  width: 800px;
  height: 200px;
}
