.board {
  margin: 30px;
  width: calc(100vw - 62px);
}

.board-list-item {
  display: table;
  border-bottom: 1px solid silver;
  cursor: pointer;
  > div {
    display: table-cell;
  }
  &:hover {
    background-color: #efefef;
  }
}

.board-view-item {
  > div {
    border-bottom: 1px solid silver;

    .board-view-content {
      min-height: 50vh;
      border: 1px solid silver;
    }
  }
}

.board-add-item {
  .board-add-item-header {
    display: flex;
    justify-content: space-between;

    > div {
      &:first-child { width: 50px; }
      &:last-child {
        width: calc(100% - 50px);
        input { width: 100%; }
      }
    }
  }

  textarea {
    width: 100%;
    min-height: 100px;
  }
}

ul, li{
  list-style: none;
}

.listItem {
  width: auto;
  height: 40px;
  color: darkslategray;
  line-height: 50px;

  li {
    float: left;
    margin-right: 15px;
    padding-left: 400px;
    text-align: center;
  }
}